.contributions {
  max-width: 50vw;
  text-align: center;
  margin: 6rem 0 6rem 0;

  @media (max-width: 619px) {
    max-width: 80vw;
  }
}
.contributions__title {
  transform: translateY(90px);
  color: #fff !important;
  font-family: Poppins;
  opacity: 0;
}
.contributions__text {
  transform: translateY(90px);
  text-transform: none;
  opacity: 0;
}
